@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: 'Inter', sans-serif;

    --color-primary: #135bec;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;
    --color-card-light: #ffffff;
    --color-card-dark: #161e2c;
    --color-border-light: #e2e8f0;
    --color-border-dark: #232f48;
}
